.teclado-flotante {
	font: 11px/1.5 Verdana, Sans-Serif;
	background: #eee;
}

#container {
	margin: 100px auto;
	width: 688px;
}

#write {
	margin: 0 0 5px;
	padding: 5px;
	width: 671px;
	height: 200px;
	font: 1em/1.5 Verdana, Sans-Serif;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}

#keyboard li {
	float: left;
	margin: 0 5px 5px 0;
    width: 25px;
    height: 25px;
    line-height: 20px;
	text-align: center;
	background: #fff;
	border: 1px solid grey;
    text-transform: uppercase;
    vertical-align: middle;
}

.capslock, .tab, .left-shift {
	clear: left;
}

#keyboard .tab, #keyboard .delete {
}

#keyboard .capslock {
	width: 20px;
}

#keyboard .return {
	width: 20px;
}

#keyboard .left-shift {
	width: 20px;
}

#keyboard .right-shift {
	width: 20px;
}

.lastitem {
	margin-right: 0;
}

.uppercase {
	text-transform: uppercase;
}

#keyboard .space {
	clear: left;
	width: 90%;
}

.space{
	margin-left: 16px !important;
}

.on {
	display: none;
}

#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: pointer;
}

.letter-blank{
	opacity: 0;
}

letter-blank:hover{
	cursor: none !important;
}

.mix-qwerty{
	cursor: pointer;
	float: left;
	margin: 0 5px 5px 0;
	width: 40% !important;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.close-button{
	float: right;
	width: 18px;
	height: 18px;
}

.close-button{
	float: right;
    width: 18px;
    height: 18px;
}

.mix-qwerty:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: pointer;
}

/* Contenedor - Teclado Virtual */
.virtual-key-block__title {
	margin-bottom: 12px;
	font-size: 15px;
	font-weight: 700;
	font-family: Arial;
	color: #333;
}

.virtual-key-block__virtual_key {
	/*margin-bottom: 15px;*/
}

.virtual-key-block__check {
	display: inline-block;
	top: 2px;
	position: relative;
}

.virtual-key-block__check input {
	margin: 0;
}

.virtual-key-text {
	font-size: 12px;
	font-weight: 400;
	font-family: arial;
}

.virtual-key-block__label {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	font-family: arial;
	color: #333;
	vertical-align: 2px;
}